.main-body {
    padding: 70px;
    text-align: center;
    height: 55vh;
}

.log-in-form {
    padding: 50px;
    align-content: center;
    text-align: center;
    height: 40vh;
}

.login_btn {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 2px 12px 2px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;

    /* border-style: solid;
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding : 8px;
    border-color: rgb(210, 210, 210);
    background-color: rgb(191, 191, 191);
    border-radius: 28px */
}

.login_btn:hover {
    background-color: rgb(71, 130, 11);
    border-color: rgb(26, 76, 5);
    color: rgb(255, 255, 255);
}

.sign-up a {
    color: rgb(32, 32, 32);
    text-decoration: underline;
    text-decoration-color: rgb(32, 32, 32);
    font-size: 14px;

}

.sign-up a:hover {
    color: rgb(71, 130, 11);
    text-decoration: underline;
    text-decoration-color: rgb(71, 130, 11);
}

.log-in-form {
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}