.page-info {
    padding: 10px;
    text-align: center;
}

.write-post {
    padding: 0px;
    text-align: center;
    height: 79vh;
}

.submit-btn {
    border-style: solid;
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding: 10px;
    border-color: rgb(106, 106, 106);
    background-color: rgb(135, 135, 135);
    border-radius: 28px;
}