<link rel="stylesheet" href="/stylesheets/5_new_submission.css" />
<div class="page-info">
    <h1>Create a Post</h1><br>
    <p>
        <%= @error %>
    </p>
</div>
<div class="write-post">
    <p>
        <form action="/submissions" method="post">
            <input type="text" maxlength="100" name="title" placeholder="Title"><br><br>
            <textarea maxlength="600" name="story" placeholder="Story"></textarea><br>
            <button type="submit" class="submit-btn">Submit</button>
        </form> 
    </p>
</div>