<!DOCTYPE html>
<html>
<head>
    <style>
        .item1 { grid-area: header; }
        .item2 { grid-area: main; }
        .item3 { grid-area: left; }
        .item4 { grid-area: right; }
        .item5 { grid-area: footer; }

        .grid-container {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'main main main main main main'
            'left left right right right right'
            'footer footer footer footer footer footer';
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
        }

        .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        }
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
      <title>ElectricalBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <%# <link rel="stylesheet" href="/stylesheets/1_main.css" /> %>
</head>
<body>
    <div class="grid-container">
        <div class="item1">Header</div>
        <div class="item2">Main</div>
        <div class="item3">Left</div>  
        <div class="item4">Right</div>
        <div class="item5">Footer</div>
    </div>
</body>
</html>