<body>
  <%# <section class="hero"> %>
    <div class= "hero-image">
      <div class= "hero-text">
        <h1>Welcome to Electrical Box</h1>
        <h3>Collection of stories from when you were a kid</h3><br>
        <a href="/submissions" class="welcome_btn">Explore Stories</a>
      </div>
    </div>


    <div class= float-container>
      <div class="box">
          <div class="left_box">
            <img src= "/images/electrical_box.jpg", class="left_box_image">
          </div>
          <div class="right_box">
            <h3>Inspiration</h3>
            <p> 
                Growing up we spent a lot of time hanging around the neighorhood electrical box. I didn't realize it was a childhood rite of passage wasn't until everyone I met had a story of hanging out there. This site is inspired to recall old forgotten memories and bring everyone around the electrical box again.‍ <br><br>
                Feel free to share your story, a friends story, or a childhood memory in general.
            </p>
          </div>
        </div>
      </div>
    </div>
</body>







